[core]
	autocrlf = false
	filemode = false
	excludesfile = /Users/robbie/.gitignore_global
	editor = vi
[color]
	ui = true
[user]
	name = Robbie Ferrero
	email = robbieferrero@gmail.com
[push]
	default = simple
[gitreview]
	username = robbieferrero

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
